@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@500&display=swap');
.bio {
    background: #f0f0f0;
    animation: gradient 5s ease infinite;
    font-size: 16px;
    line-height: 120%;
    font-family: 'Tajawal', sans-serif;
}
.top-95{
    top: 97% !important;
}
.glass{
    background: rgba( 255, 255, 255, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.17 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.icon{
    font-size: 5rem;
    color: #bb2d3b;
}