body {
  background-color: #f6f9ff;
}

.btn-dda{
  color: white !important;
  background-color: #f5510e !important;
  border-color:#f5510e !important;
}

.btn-dda:hover{
  background-color: #e1551c !important;
}